# 工作流名称
name: Sync-Images-to-DockerHub-Example
# 工作流运行时显示名称
run-name: ${{ github.actor }} is Sync Images to DockerHub.
# 怎样触发工作流
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# 工作流程任务（通常含有一个或多个步骤）
jobs:
  syncimages:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: library/elasticsearch:7.17.22
    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2.9.1

#    - name: Use Skopeo Tools Sync Image to Docker Hub
#      run: |
#        #!/usr/bin/env bash
#        skopeo copy --all \
#        --dest-creds ${{ secrets.SWR_USERNAME }}:${{ secrets.SWR_PASSWORD }} \
#        docker://docker.io/${{ env.IMAGE_NAME }} docker://${{ secrets.SWR_REGISTRY }}/${{ env.IMAGE_NAME }}

              
    - name: skopeo-copy-action
      uses: truemark/skopeo-copy-action@v1
      with:
        src-image: "docker://docker.io/${{ env.IMAGE_NAME }}"
        dest-image: "docker://${{ secrets.DOCKER_REGISTRY }}/${{ env.IMAGE_NAME }}"
        src-username: ""
        src-password: ""
        dest-username: "${{ secrets.DOCKER_USERNAME }}"
        dest-password: "${{ secrets.DOCKER_PASSWORD }}"
        multi-arch: "all"
