# 工作流名称
name: Sync-Images-to-DockerHub-Example
# 工作流运行时显示名称
run-name: ${{ github.actor }} is Sync Images to DockerHub.
# 怎样触发工作流
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# 工作流程任务（通常含有一个或多个步骤）
jobs:
  syncimages:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: library/openjdk:8u342
    steps:
    - name: skopeo-copy-action
      uses: coscene-io/skopeo-copy-action@v1.0.0
      with:
        src-creds: ""
        src-image: "docker.io/${{ env.IMAGE_NAME }}"
        dst-creds: "${{ secrets.DOCKER_USERNAME }}:${{ secrets.DOCKER_PASSWORD }}"
        dst-image: "${{ secrets.DOCKER_REGISTRY }}/${{ env.IMAGE_NAME }}"
